<a href="https://colab.research.google.com/github/barry80417/titanic-analysis/blob/main/titanic_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.gridspec as gridspec
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df_train = pd.read_csv("https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/train.csv")
df_test = pd.read_csv("https://raw.githubusercontent.com/agconti/kaggle-titanic/master/data/test.csv")

用github內的資料直接讀進來

In [ ]:
#@title data information
df_train.head()
df_train.info()

 Link: https://www.kaggle.com/competitions/titanic/data

Survived: Survived (1) or died (0)

Pclass: Passenger’s class

Name: Passenger’s name

Sex: Passenger’s sex

Age: Passenger’s age

SibSp: define brother,sister,husband,wife...

Parch: define mother,father,daughter,son...

Ticket: ticket number

Fare:ticket fare

Cabin:cabin number

Embarked:port of embarkation (C=Cherbourg,Q=Queenstown,S=Southampton)

In [ ]:
#@title train data relation
#看訓練資料中是否有所關聯
corr = df_train.corr()
cmap = sns.diverging_palette(200, 0, as_cmap = True)
sns.heatmap(
    corr,
    cmap=cmap,
    square = False,
    cbar_kws = {'shrink': .9}, #顏色條大小
    ax = plt.subplots(figsize =(12,10))[1],
    annot = True,
    annot_kws = {'fontsize':12} #字體大小
)

In [ ]:
#@title survive or not pie plot
#kind(圖形類型)autopct小數
plt.figure(figsize = (10,5))
df_train['Survived'].value_counts().plot(kind = 'pie', colors =['lightcoral','skyblue'], autopct = '%1.2f%%')
plt.title('Survival')
plt.ylabel('')
plt.show()

In [ ]:
#@title survived data relation
#所有生還的人其他的資料是否有相關為看不出關聯
sur = (df_train['Survived']==1)
df_sur = df_train[sur].drop(['Survived'],axis = 1)
corr = df_sur.corr()
cmap = sns.diverging_palette(200, 0, as_cmap = True)
sns.heatmap(
    corr,
    cmap=cmap,
    square = False,
    cbar_kws = {'shrink': .9}, #顏色條大小
    ax = plt.subplots(figsize =(12,10))[1],
    annot = True,
    annot_kws = {'fontsize':12} #字體大小
)

In [ ]:
#@title survived data plot
selected_cols = ['Sex','Pclass','Embarked','SibSp','Parch']

plt.figure( figsize =(10,len(selected_cols)*5))
gs = gridspec.GridSpec(len(selected_cols),1)
for i, col in enumerate(df_train[selected_cols]):
  ax = plt.subplot(gs[i])
  sns.countplot(df_train[col], hue = df_train.Survived, palette = ['lightcoral','skyblue'])
  ax.set_yticklabels([])
  ax.set_ylabel('Counts')
  ax.legend(loc=1)#圖例顯示位子
  for p in ax.patches:
    ax.annotate('{:,}'.format(p.get_height()), (p.get_x(),p.get_height()+1.5))
plt.show()

In [127]:
#@title Data clean def
def Data_clean_function(data):
  # data = data.drop(['Name','Ticket','Cabin'],axis = 1)
  data['Sex'] = labelencoder.fit_transform(data['Sex'])
  data['Age'] = data['Age'].fillna(data['Age'].mode()[0])
  data['Embarked'] = data['Embarked'].fillna(data['Embarked'].mode())
  data['Embarked'] = labelencoder.fit_transform(data['Embarked'])
  # data = pd.get_dummies(data, columns = ['Embarked'])
  data['Family_Size'] = data['SibSp'] + data['Parch']+1

In [131]:
def Age_class(Age):
  Age['Age_class'] = np.nan
  Age.loc[Age.Age<=2,'Age_class'] = 1
  Age.loc[(Age.Age>2) & (Age.Age <=5),'Age_class'] = 2  
  Age.loc[(Age.Age>5) & (Age.Age <=11),'Age_class'] = 3
  Age.loc[(Age.Age>11) & (Age.Age <=18),'Age_class'] = 4
  Age.loc[(Age.Age>18) & (Age.Age <=30),'Age_class'] = 5
  Age.loc[(Age.Age>30) & (Age.Age <=44),'Age_class'] = 6
  Age.loc[(Age.Age>44) & (Age.Age <=60),'Age_class'] = 7
  Age.loc[Age.Age >60 ,'Age_class'] = 8

In [ ]:
Data_clean_function(df_test)
Age_class(df_test)
df_test = df_test.drop(['Name','Ticket','Cabin'],axis = 1)
df_test = pd.get_dummies(df_test, columns = ['Embarked'])

In [136]:
Data_clean_function(df_train)
Age_class(df_train)
df_train = df_train.drop(['Name','Ticket','Cabin'],axis = 1)
df_train = pd.get_dummies(df_train, columns = ['Embarked'])

In [ ]:
df_train['Family_Size'] = df_train['SibSp'] + df_train['Parch']+1
Survival_Rate = df_train[['Family_Size','Survived']].groupby('Family_Size').agg(np.mean)*100
Survival_Rate.columns = ['Survival Rate(%)']
Survival_Rate.reset_index()

In [ ]:
Survival_Rate = df_train[['Age_class','Survived',]].groupby('Age_class').agg(np.mean)*100
Survival_Rate.columns = ['Survival Rate(%)']
Survival_Rate.reset_index()

刪除看起來比較沒用的資料'Name','Ticket','Cabin'

In [52]:
df_train = df_train.drop(['Name','Ticket','Cabin'],axis = 1)

In [56]:
df_train['Sex'] = labelencoder.fit_transform(df_train['Sex'])

看是否有空值

In [118]:
df_train['Age'] = df_train['Age'].fillna(df_train['Age'].mode()[0])
df_train['Embarked'] = df_train['Embarked'].fillna(df_train['Embarked'].mode())
df_train['Embarked'] = labelencoder.fit_transform(df_train['Embarked'])
df_train = pd.get_dummies(df_train, columns = ['Embarked'])

In [119]:
df_train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,2
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,24.0,1,2,W./C. 6607,23.4500,NaN,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,1

將Age用眾數填補空值，Embarked用眾數填補空值

In [137]:
columns_X = set(df_train.columns) - {'Survived'}
columns_y = ['Survived']

train_X = df_train[columns_X]
train_y = df_train[columns_y]

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

log = LogisticRegression(random_state=0, max_iter=3000)
scores = cross_val_score(log, train_X, train_y.values.ravel(),cv=5,scoring='accuracy')
scores

array([0.79329609, 0.78651685, 0.78651685, 0.7752809 , 0.8258427 ])